*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
# /public/build
/public/hot
/public/storage
/public/laravel
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/app/livewire-tmp/*
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Temporary/Scratch files
*.html
*.php.bak
fix-mobile.py
*.bak
*.tmp
*.temp
*.md


# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDE files
.DS_Store
.idea
.vscode
.zed
/.fleet
/.nova
/.zed
import-data.ps1
site_assets.zip
database_dump.sql
